.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 0;
    width: 800px;
    height: 800px;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: aqua;
}